@model UlpoadingData.Web.Models.Base.BaseModel

<div id='errorContent'>
	<table style = "width:100%">
		<tr>
			<td style="width:70px">
				<img alt="Icon" src="~/Images/notification.gif" />
			</td>
			<td>
				<div class="label_red">@Model.ErrorDescription</div>
			</td>
		</tr>
	</table>
</div>